@import "src/mixins";

* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

.right__dashboard{
  display: flex;
  flex-direction: column;
  font-family: 'Inter',sans-serif;
  padding: rem(32) rem(32) 0 rem(32);
  width: 100%;
  max-width: rem(288);
  height: 100%;

  &__avatar{
    width: rem(224);
    padding-bottom: rem(48);
  }

  &__text{
    padding-bottom: rem(16);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(24);
    color: #363636;
  }

  &__add{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: rem(20);
    border: rem(1) dashed #F3F3F3;
    padding: rem(32) 0;
    width: rem(224);
  }

  &__transactions{
    padding: rem(48) 0 rem(24) 0;
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(24);
    color: #363636;
  }

  &__last-transactions{
    display: flex;
    flex-direction: column;
    gap: rem(16);
    align-content: center;
    align-items: center;
    border: rem(1) solid #F3F3F3;
    width: rem(224);
    padding: rem(83) 0 rem(83) 0;
  }

  &__action{
    font-size: rem(14);
    line-height: rem(21);
    color: #848484;
    width: rem(149);
  }
}