@import "src/mixins";

.my-button {
  display: flex;
  align-items: center;
  padding: rem(12) rem(24);
  color: white;
  border: none;
  cursor: pointer;
  font-size: rem(12);

  &.error {
    background: #A52800;
  }

  &.disabled {
    background: #EDEDED;
    display: initial;
    cursor: not-allowed;
  }

  &.active {
    background: #363636;
  }

  &.inactive {
    background: #363636;
  }

  &.s {
    font-size: rem(12);
  }

  &.m {
    font-size: rem(14);
  }

  &.l {
    font-size: rem(16);
  }
}

