.my-input {
  border: 0.063rem solid #ECECEC;
  color: #8C8C8C;
  padding: 1rem;
  outline: none;
//position:relative;

  //}
&:focus::placeholder{
  color: black;
  position: absolute;
  top: 0.313rem;
}

  &.error {
    border: 0.063rem solid #F31212;
  }

  &.disabled {
    background: #EDEDED;
    border: 0.063rem solid #ECECEC;
  }

  &.active {
    border: 0.063rem solid #363636;
    color: black;
  }

  &.inactive {

  }

  &.Meaning {

  }
}

