@import "src/mixins";

html, body, p {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

.left__board{
  display: flex;
  flex-direction: column;
  font-family: 'Inter',sans-serif;
  height: 100%;
  width: 100%;
  max-width: rem(239);

  &__logo{
    padding: rem(32) 0 rem(104) rem(32);
  }

  &__all-item{
    display: flex;
    flex-direction: column;
    gap: rem(12);
    padding-bottom: rem(340);
  }

  &__item{
    display: flex;
    align-items: center;
    gap: rem(8);
    padding:rem(16) 0 rem(16) rem(24);
  }

  &__border{
    max-width: rem(192);
    height: 0;
    border: rem(1) solid #F3F3F3;
    margin: 0 rem(24);
  }

  &__text{
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(16);
    color: #363636;
  }

  &__last-item{
    display: flex;
    align-items: center;
    gap: rem(8);
    padding:rem(48) 0 rem(16) rem(24);
  }
}
