@import "src/mixins";

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F1F1F1;
  width: rem(224);
  height: rem(208);
  position: relative;
  padding: 0;
  align-items: center;

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(96);
    height: rem(96);
    background: white;
    border-radius: 50%;
    position: relative;
  }

  &__border {
    padding: rem(5);
    border-bottom: rem(3) solid black;
    border-left: rem(3) solid black;
    border-radius: 50%;
    width: rem(110);
    height: rem(110);
  }

  &__add {
    right: rem(60);
    top: rem(40);
    position: absolute;
    height: rem(24);
    width: rem(25);
    border: rem(1) solid #fff;
    border-radius: 50%;
  }

  &__name {
    padding-top: rem(24);
    font-size: rem(16);
    line-height: rem(24);
  }
}
